<<<<<<< HEAD
.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.modal-content {
  margin: auto;
  width: 95%;
  max-width: 1400px;
  height: 95vh;
  border-radius: 10px;
  overflow: hidden;
}

#tableauContainer {
  width: 100%;
  height: 100%;
}
=======
.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.modal-content {
  margin: auto;
  width: 95%;
  max-width: 1400px;
  height: 95vh;
  border-radius: 10px;
  overflow: hidden;
}

#tableauContainer {
  width: 100%;
  height: 100%;
}
>>>>>>> 3bacf70b7a37487e42e873f4678d919abc092e31
